html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 60px auto;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    color: white;
}

    #new-grid {
        margin-left: auto;
        height: 2rem;
        border: 2px solid white;
        border-radius: 0;
        background-color: black;
        font-family: 'Fira Mono', monospace;
        font-size: 1rem;
        color: white;
    }

    #new-grid:hover {
        margin-left: auto;
        height: 2rem;
        border: 2px solid white;
        border-radius: 0;
        background-color: white;
        font-family: 'Fira Mono', monospace;
        font-size: 1rem;
        color: black;
        cursor: pointer;
    }

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color:seashell;
}

.row {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    height: 16px;
    width: 100%;
}

.square {
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    background-color: black;
}

.square-hover {
    background-color: white;
}